*{
    align-items: center;
    text-align: center;
    background-image: url(./tillu12.png); 
    background-color: #88a0ee;
   
    
    
}
h1{
    color: blue;
    background-color:antiquewhite;
    border: 3px solid rgb(103, 41, 227);
  ;
   
}

/* aas */